// COLORS
$color-primary: #238823;
$color-primary-light: #4CBB17;
$color-primary-dark: #007000;

$color-secondary-light: #E60000;
$color-secondary-dark: #D2222D;

$color-tertiary-light: #FFBF00;
$color-tertiary-dark: #FF7800;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.4rem;
$font-primary: 'Lato', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;