.feature-box{
    background-color: rgba($color-white, 0.8);
    padding: 2.5rem;
    color: $color-grey-dark-1;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    border-radius: 5px;
    transition: all .3s;

    &:hover{
        transform: translateY(-2rem) scale(1.02);
        box-shadow: 0 2.5rem 4.5rem rgba($color-black, 0.15);
    }

    div{
        text-align: center;
    }

    &__icon{
        width: 6rem;
        height: 6rem;
        fill: $color-tertiary;
    }

    & p {
        line-height: 2.5rem;
        word-spacing: .3rem;
    }
}