/**************************
***Initial Setup for project
**************************/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;  //1rem = 10px; 10px/16px = 62.5%
}

body{
    box-sizing: border-box;
    padding: 3rem;
    background-color: #f7f1e3;
    font-family: $font-primary;
    font-weight: 700;
    line-height: 1.6;
    color: $color-grey-dark-3;

}

::selection{
    background-color: $color-primary;
    color: $color-white;
}

.container{
    display: grid;
    grid-template-rows: 90vh 40vw repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
