.heading-primary{
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        display: block;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: .3rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .1rem;

        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary{
    text-transform: uppercase;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;
    background-image: linear-gradient(rgba(75, 187, 23, 0.801),rgba(0, 112, 0, 0.801));
    background-clip: text;
    color: transparent;

    &--italic{
        font-style: italic;
    }

}

.heading-tertiary{
    text-transform: uppercase;
    display:block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.paragraph{
    display: block;
    font-size: 1.6rem;
    font-weight: 400;

}