.explore__pictures{
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../../img/explore-bg.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    &--1{
        height: 100%;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        justify-self:flex-end;
    }

    &--2{
        height: 100%;
        grid-row: 3 / 6;
        grid-column: 1 / 5;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
        justify-self: flex-end;
    }
}

.explore__content{
    grid-column: col-start 5 / full-end;
    background-color: $color-white;
    padding: 6rem 8vw;

    display: grid;
    align-content: center;
    justify-items: start;

}

.features{
    grid-column: full-start / full-end;
    padding: 15rem 8rem;
    background-image: linear-gradient( rgba(180, 180, 180, 0.8),rgba(180, 180, 180, 0.8)), url(../../img/feature-bg.jpg);
    background-size: cover;
    background-position: bottom;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
    grid-gap: 5rem;

    &-box{
        background-color: rgba(255, 255, 255, 0.7);
        padding: 2.5rem;
        color: $color-grey-dark-1;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        transition: all .3s;

        &:hover{
            transform: translateY(-2rem) scale(1.02);
            box-shadow: 0 2.5rem 3.5rem rgba(0, 0, 0, 0.15);
        }

        div{
            text-align: center;
        }

        &__icon{
            display: inline-block;
            margin: 0 auto;
            width: 6rem;
            height: 6rem;
            fill: $color-primary;
        }
    }
}